<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cart Page</title>
    </head>
    <body>
        <h1>Cart</h1>
        {{#if cartProducts.[0]}}
            <ul>
                {{#each cartProducts}}
                    <li>
                        Product:
                        {{this.product.title}}
                        |||||||| Quantity:
                        {{this.quantity}}
                    </li>
                {{/each}}
            </ul>
            <form id="payment-form">
                <div id="payment-element">
                    <!--Stripe.js injects the Payment Element-->
                </div>
                <button id="submit" data-cartId="{{cartId}}">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Pay now</span>
                </button>
                <div id="payment-message" class="hidden"></div>
            </form>
        {{else}}
            <p>Your cart is empty</p>
        {{/if}}

        <!-- Importa el script de Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        <!-- Importa tu archivo checkout.js -->
        <script src="/js/checkout.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() { const
            cartProducts = JSON.stringify({{cartProducts}}); initialize(cartProducts); checkStatus();});
        </script>

    </body>

</html>